body{
	background-color:#F3F4F9;
	font-family: 'Inter', sans-serif;
}

header{
	text-align: center;
	
}

.depAm{
	background-color:#FFFFFF;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border: 1px solid #cccccc;
	-webkit-box-shadow: 0px 6px 46px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 46px -20px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 46px -20px rgba(0,0,0,0.75);
}

.num{
	display: flex; 
	flex-wrap: nowrap;
	justify-content: space-around;
}

p{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #ffffff;
	height: 40px;
	width: 40px;  
	text-align: center;
	align-items: center;
	background: #FFFFFF;
	margin-top: 15px;
	padding: 8px;
	font-family: 'PT Sans', sans-serif;
	display: flex;

}

.red{
	background: #DD4333;
	color: #FFFFFF;
}

.ti{
	display: flex; 
	justify-content: space-between;
	font-family: 'PT Sans', sans-serif;
	margin-top: 50px;
	margin-bottom: 35px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}

.gr{
	color: #808080
}

.intPayR{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #ffffff;
	background: #FFFFFF;
	height: 200px;
	width: 170px;
	display: flex;
	text-align: center;
	align-items: center;
	background: #DD4333;
	color: #FFFFFF;
}

.intPay{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #ffffff;
	background: #FFFFFF;
	height: 200px;
	width: 170px;
	display: flex;
	text-align: center;
	align-items: center;
}

.cal{
	display: flex;
	background: #DD4333;
	color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #ffffff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	height: 60px;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}